body{
     background-image: radial-gradient(circle farthest-corner at center,gold, rgb(1, 34, 34),black );
     width: 100%;
     height:100%px;

}

#image {
    margin-left: 20px;
    width: 60px;
    height: 60px;
}
#img {
    width: 5px;
    height: 5px;
}
#cool{
      margin-left: 70px;
      margin-top: 10px;
      padding-left:10px;

}
#off{
    color: gold;
    margin-left: 15px;
}
#hot{
    background-color: gold;
}
#tan{
    background-color: gold;
}#girl{
    margin-left: 90px;
    color:gold;
}
#girl{
    margin-left:70px;
    color:gold;
}
#like{
    margin-left: 50px;
    color:gold;
}
#light{
    color: gold;
    margin-left: 50px;
}
.gold{
    color: gold;
}
   
